<div class="ad">
    <%= image_tag "ArtWeb_07.gif" %>            
    <div class="notice">
    <%= render "notice_index"%>
    </div>

</div>
<div class="infrom">
    <div class="order">
        <%= render "eorder_index"%>
    </div>
    <div class="equipment">
       <%= render "sorder_index"%>
    </div>
    <div class="tel"></div>
</div>

