<div class="container">
    <!--广告 -->
        <div class="ad">
            <%= image_tag "ArtWeb_07.gif" %>
            
            <div class="notice">
            <!--通知公告-->
            <h1>通知公告</h1>
            <%= @notice.to_s %>
            <h2><a href="#">For more</a></h2>
        </div>
        <!--通知公告-->
        </div>
        
<!--广告 -->
        
        
<!--inform-->
        <div class="infrom">
            <div class="order">
                <ul>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                </ul>
                <h1><a href="#"></a></h1>
            </div>
            <div class="equipment">
                <ul>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                    <li><a href="#">第一放映厅10月23日已被预约<span>2012.10.23</span></a></li>
                </ul>
                <h1><a href="#"></a></h1>
            </div>
            <div class="tel"></div>
        </div>
<!--inform-->

</div>
