<div class="container">
  <div class="center_content">
    <div class="left_nav">
  </div>

<div class="right_content">
      <div class="logoer"><%= image_tag 'order_2.gif'%></div>
              规章制度
    </div>
</div>

<br />

</div>

