<tr>
  	<td class="span1"><%= sorder.sapplicant %></td> 
    <td class="span1">申请</td> 
    <td class="span2"><%= sorder.sname %></td> 
    <td class="span1"><span class="label label-success">&nbsp;成功&nbsp;</span></td>
    <td class="pull-right span1">
    	<%= sorder.created_at.strftime("%Y-%m-%d")%>
    </td>
</tr>