<div class="container2">
  <div class="center_content">
    <div class="left_nav">
      <ul>
        </ul>
  </div>

<div class="right_content">
      <div class="logoer"><%= image_tag 'notice.gif'%></div>
        <table class="table">
          <%= render @notices %>
        </table>
        <hr>
    </div>
</div>
<div class="centerplay">
    <%= paginate @notices %>
</div> 
<br />

</div>

