<div class="container2">
	<h4 align="center"><%= link_to_unless_current @notice.ntitle, notice %></h4>
	<div align="center">
	 	<%= @notice.nfilenumber %>&nbsp;&nbsp;&nbsp;
	 	<%= @notice.created_at.strftime("%Y-%m-%d")%>
	 <div>
	 	<hr>
	 <div>
    <%= sanitize  @notice.ncontent %>
	</div>
</div>