<div class="container">
  <div class="center_content">
    <div class="left_nav">
      <ul>
          <li><a href="#">实验设备</a></li>
            <li><a href="#">预约情况</a></li>
            <li><a href="#">使用情况</a></li>
        </ul>
  </div>

<div class="right_content">
      <div class="logoer"><%= image_tag 'order_2.gif'%></div>

              <%= render @equipment %>
    </div>
</div>
<div class="centerplay">
    <%= paginate @equipment %>
</div> 
<br />
<%= link_to 'New Equipment', new_equipment_path %>
</div>

