<div class="container2">
  <div class="center_content">
    <div class="left_nav">
      <ul>
        </ul>
  </div>

<div class="right_content">
      <div class="logoer"><%= image_tag 'video.gif'%></div>
        <table class="table">
          <% @videos.each do |video| %>
        <tr class="span4">
           <td id="myContent" class="span3">
              
               Alternative content
           </td>
           <td class="span1">
             <%= video.name %>
           </td>   
           <td class="span1"><%= link_to '播放', video %></td>
        </tr>

  <script type="text/javascript" src="swfobject.js"></script>

<script type="text/javascript">  
  var so = new SWFObject('<%= video.avatar.url%>', 'mpl', '100', '100', '8');  
    
  so.addParam('allowfullscreen', 'true');
  so.addParam('play ', 'false');  
  so.addVariable('height', '360');  
  so.addVariable('width', '480');  
  
  so.write('myContent');  
</script>  
<% end %>
        </table>
        <hr>
    </div>
</div>
<div class="centerplay">
    
</div> 
<br />

</div>
