<div class="container2">
  <div class="center_content">
    <div class="left_nav">
  </div>

<div class="right_content">
      <div class="logoer"><%= image_tag 'rule.gif'%></div>
      	<table class="table">
            <%= render @rules%>
        </table>
        <hr>
    </div>
</div>
<div class="centerplay">
        <%= paginate @rules %>
      </div>
      <br />
</div>



