
	<div class="copyright">
        	<ul>
   				<span>友情链接：</span>
            	<li><a href="http://www.swpu.edu.cn">西南石油大学</a></li>
                <li><a href="http://art.swpu.edu.cn">艺术院首页</a></li>
                <li><%= link_to "管理员登录",rails_admin_path%></li>
                <li class="cop">Copyright 软件外包团队</li>
            </ul>
	</div>

